<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495134791302-tmckp6gur5jvth3jumj9u8nnpc9sbj1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495134791302-tmckp6gur5jvth3jumj9u8nnpc9sbj1r</string>
	<key>API_KEY</key>
	<string>AIzaSyBEUacSGj4WTMB4jLVUFQcpdgFLUVRmhrc</string>
	<key>GCM_SENDER_ID</key>
	<string>495134791302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cr</string>
	<key>PROJECT_ID</key>
	<string>edubro-4c60a</string>
	<key>STORAGE_BUCKET</key>
	<string>edubro-4c60a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495134791302:ios:02d8ae20af64c0373ce307</string>
</dict>
</plist>